<%= link_to("<<Back to home page", books_path, :class => 'back-link') %>

<div class="Subjects delete">
    <h2>Delete Book</h2>
    <%= form_for(@book, :method => 'delete') do |form| %>
        <p>Are you sure you want to delete this book?</p>
        <p><%= @book.title %></p>

        <div class="form-button">
        <%= form.submit("Delete Book") %>
        </div>
    <% end %>
</div> 
